/***** RESET *****/
html,body,div,span,applet,object,iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr {
margin: 0;
padding: 0;
border: 0;
outline: 0;
/*font-size: 100%;
vertical-align: baseline;*/
}
html, body {height:100% ;}
body {line-height: 1;}
ol,ul {list-style: none;}
blockquote, q {quotes:none}
blockquote:before, blockquote::after, q::after {content: ""; content: none;}
table {border-collapse:collapse; border-spacing: 0;} 
textarea {overflow:auto; } 

/***** RESET *****/
.main {
    width: 100%;
    height: 175%;
    background: rgb(0, 0, 0);

}

/**** MENU ****/
.header {
    width: 100%;
    height: 103px;
    
    display: flex;
    justify-content: space-around;
    
    
}

.header .solmenu{
    display: flex;
    padding-top: 27px;
    padding-left: 0px;
    
}

.header  ul li {
    text-decoration: none;
}
.header  ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Abel';
    font-size: 55px;
    
}

.header p{
    
    padding-top: 8px;
    padding-left: 28px;
    color: rgb(110, 110, 110);
    font-family: 'Abel';
    
}
.header ul li p{
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}

.header ul li p::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    margin-left: 25px;
    background-color:rgb(255, 5, 5) ;
    transition: width 0.75s ease-out;

}

.header ul li p:hover::before {
    width: 100%;

}

.header .sagmenu {
    display: inline-block;
    margin-top: 15px;
    ;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    

}

.header .sagmenu ul li{
    list-style: none;
    text-decoration: none;
    
}

.header .sagmenu img{
width: 105px;
height: 105px;
}
.header .sagmenu .golge {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color:rgba(85, 84, 84, 0) ;
    opacity: 0.3;
    border-radius: 50%;

}

.header .sagmenu .logo {
    width: 80px;
    height: 80px;
    background: url(/images/logo1.png);
    background-size: cover;
    border-radius: 50%;
    
    animation: donus 50s linear 0s infinite;
    
}
@keyframes donus {
    from {}
    to {background-position: -1000px 0;}
}



/*--- Alt Menu ---*/

.wrapper {
    width: 100%;
    height: 40px;
    background: rgba(255, 217, 0, 0.801);
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    
    
}

.topbar{
    font-family: 'Abel';
}

.wrapper > .topbar > ul{
    display: flex;
    padding-left: 14px;
    justify-content: space-around;
    
    
}

.topbar > ul > li{
    padding:10px;
    padding-top: 14px;
    
    
}
.wrapper > .topbar > ul > li > a {
    text-decoration: none;
    list-style: none;
    display: inlineblock;
    padding-top: 14px;
    padding-left: px;
    color: rgb(0, 0, 0);
    
}

.topbar > .active {
    background: rgb(255, 232, 102);
    padding-top: 14px;
    border-left: 1px solid white;
    
}

.topbar > .active > a{
    color: white; }

.topbar > ul > li:hover{
    background:rgb(255, 232, 102); 
    border-left: 1px solid white;
}

.topbar ul li ul{
    position: absolute;
    background: linear-gradient(rgba(255, 217, 0, 0.801), black);
    margin:10px auto;
    margin-left: -25px;
    width: 150px;
    height: 211px;
    transition: all 500ms;
    border-radius: 2px;
    padding:10px 0;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    
    z-index: 9999;
            
    }

    .topbar ul li ul li {
        padding-top: 28px;
        padding-left: 22px;
        
    
    }
    .topbar  ul  li ul li:hover{
        background: rgb(255, 232, 102);
        
    }

    .topbar  ul  li ul li a:hover{ 

        color: black;
    }
    .topbar ul  li ul::before {
        content: "";
        border-bottom: 11px solid rgb(0, 0, 0);
        border-top: 4px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        top: -19px;
        left: 38%;
        right: 90%;
        transform: translate(-270);}

    .topbar ul li ul a{
    color: white;
    text-decoration: none;
    list-style: none;
    margin-top: 1px;
    
    
    }
   
 
.topbar  ul  li:hover ul {
            opacity: 1;
            visibility: visible;
            
        }
.search{
    padding:1px;
    font-family: 'Abel';
    
    

}

.search .form {
    font-family: 'Abel';
    
    
}


.search input {
    display: block;
    float: left;
    width: 150px;
    margin: 5px 4px 0 0;
    padding: 5px;
    color: #B6B6B6;
    background-color: #000000;
    border: 1px solid #000000;
    font-family: 'Abel';
    font-size: 13px;
}

.wrapper2 {
    width: 96%;
    height: 600px;
   
    
    
}

.wrapper2 .up{
    width: 90%;
    height: 316px;
    padding-left: 10%;
    padding-top: 40px;
    clear: both;
    
}

#up {
    display: block;
    width: 960px;
    height: 250px;
    margin: 0 auto;
    padding: 25px 0 0 0;

}

element.style {
    left: 345px;
    top: 30px;
    visibility: visible;
    position: absolute;
    z-index: 5;
    opacity: 1;
    display: block;
    width: 270px;
    height: 190px;
}
#upic > img {
    display: none;
    cursor: pointer;
}
img {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}


.wrapper2 .down {
    width: 90%;
    height: 292px;
    
}

.wrapper2 .down h2{
    color: rgb(95, 95, 95);
    font-family: 'Abel';
    padding-left:20% ;
    padding-top: 15px;
    font-size: 80px;
    display: flex;
    float: left;
    text-align: left;
}

.wrapper2 .down .downic .right{
    width: 50%;
    height: 216px;
    position: absolute;
    float: right;
    margin-left: 50%;
    
}

.downic .right h3{
    font-family: 'Abel';
    color: rgb(124, 124, 124);
    font-size: 25px;
    padding:10px;
    
}

.downic .right p{
    font-family: 'Abel';
    color: rgb(80, 80, 80);
    font-size: 17px;
    
    padding:10px;
    
}

.downic .right a{
    font-family: 'Abel';
    color: rgb(236, 173, 35);
    font-size: 17px;
    padding-top:10px;
    line-height: 2;
    
}

.footer {
        display: flex;
        width: 100%;
        height: 455px;
        margin: 65px auto;
        margin-left: 25px;
        text-align: left;
        color: #CCCCCC;
        border-top: 1px dotted #f0cd09;
        border-bottom: 1px dotted #f0cd09;
    }
.footer .footeric .ic1{
    display: block;
    float: left;
    width: 190px;
    margin: 50px;
    padding-left: 44px;
    padding: 0;
    
    height: 410px;
}
.footer .footeric .ic2{
    display: block;
    float: left;
    width: 190px;
    margin: 50px 40px 0 80px;
    padding-left: 44px;
    padding: 0;
    
    height: 410px;
}
.footer .footeric .ic3{
    display: block;
    float: left;
    width: 190px;
    padding-left: 44px;
    margin: 50px;
    padding: 0;
    
    height: 410px;
}
.footer .footeric .ic4{
    display: block;
    float: left;
    width: 190px;
    margin: 50px 40px 0 40px;
    padding: 0;
    
    height: 410px;
}

.footer .footeric ul li{
    padding:15px;
    font-size: 14px;
    color: gray;
    font-family: 'Abel';
}

.footer .footeric h2{
    padding:5px;
    color: rgb(129, 129, 129);
    font-size: 18px;
    font-family: 'Abel';
}

.footer .footeric a{
color:#f0cd095e;
}



.footer .ic2 {
    display: flex;
    float: left;
    width: 210px;
    margin: 0 40px 0 0;
    padding: 0;
    font-family: 'Abel';
}
.footer .footeric .ic2 .ica {
        width: 80px;
        height: 80px;
        background: url(/images/logo1.png);
        background-size: cover;
        border-radius: 50%;
        
        animation: donus 150s linear 0s infinite;
        
    }
    @keyframes donus {
        from {}
        to {background-position: -1000px 0;}
    }
    .footer .footeric .ic2 .icb {
        width: 80px;
        height: 80px;
        background: url(/images/logo2.png);
        background-size: cover;
        border-radius: 50%;
        
        animation: donus 150s linear 0s infinite;
        
    }
    @keyframes donus {
        from {}
        to {background-position: -1000px 0;}
    }
    .footer .footeric .ic2 .icc {
        width: 80px;
        height: 80px;
        background: url(/images/logo3.png);
        background-size: cover;
        border-radius: 50%;
        
        animation: donus 150s linear 0s infinite;
        
    }
    @keyframes donus {
        from {}
        to {background-position: -1000px 0;}
    }

    .footer .ic2 ul{
        margin: 0;
        padding-left: 20px;
        padding-top: 13px;
        font-weight: normal;
        list-style: none;
        line-height: normal;
    }

    .footer .ic4 li {
        display: block;
        float: left;
        width: 80px;
        height: 80px;
        margin: 0 7px 15px 7px;
        padding: 4px;
        border: 1px solid #E7BCE2;
    }

    
    .footer .ic4 {
        display: block;
        float: left;
        width: 210px;
        margin: 0 40px 0 0;
        padding: 0;
    }
    .footer .ic4 h2 {
        padding: 0 0 5px 0;
        color: #858585;
        font-family: 'Abel';
        border-bottom: 1px dotted #585858;
        font-size: 19px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .footer .ic4 ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
        list-style: none;
        line-height: normal;
    }

    .footer .ic4 ul li{
        padding:30px;
        margin-top: 4px;
    }

    
    .alt {
        width: 100%;
        height: 40px;
        background: rgb(0, 0, 0);
        margin-left: 2%;
        font-family: 'Abel';
        color: white;
        text-align: right;
    }

    .alt .alt1 ul {
        display: flex;
        padding-left: 345px;
        margin-top: -40px;

    }

    .alt .alt1 .ul li{
        display: flex;
        list-style:none;
        text-decoration: none;
        text-align: center;
        font-family: 'Abel';
        
        
    }

    .alt .alt1 a{
        padding-left: 15px;
        color: rgba(128, 128, 9, 0.637);
    }

    @media only screen and {max-width: 658px ;}{

        .header .up ul{ display: none;}
    }